<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meu primeiro Site com AdoniJS</title>
</head>
<body>
   <h1>Hello World</h1>

   {{--  Qundo se tem um JSON  --}}
   {{--  <h2>Usuário: {{ usuario }}</h2>
   <h3>Idade: {{ idade }}</h3>
   <h4>Apelido: {{ apelido }}</h4>  --}}

   {{--  Quando se tem um OBJ  --}}
   <h2>Usuário: {{ usuario.nome }}</h2>
   <h3>Idade: {{ usuario.idade }}</h3>
   <h4>Apelido: {{ usuario.apelido }}</h4>
</body>
</html>