<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meu primeiro Site com AdoniJS</title>
</head>
<body>
   <h1>Hello World</h1>

   {{--  Quando se tem um OBJ  --}}
   <h2>Usuário: {{ usuario.nome }}</h2>
   {{--  <h2>Tecnologias: {{ usuario.tecnologias[0] }}</h2>  --}}
   <h2>Tecnologias: {{ usuario.tecnologias }}</h2>
   <h2>Tecnologias Excluidas: {{ usuario.tecnologias_excluidas }}</h2>

</body>
</html>