body { 
   background-color: #202225;
   /* margin: 0; */
   text-align: center;
}

/*span::before {
   content: '->';
   background-color: #F00;
   border: 1px solid #000;
}

span::after{
   content: '<-';
   background-color: #F00;
   border: 1px solid #000;
}*/

div {
   background-color: #0F0;
   padding: 20px;
}

div::before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #F00;
   border: 1px solid #000;
}