body {
   background-color: #202225;
}

table, td {
   border: 2px solid #000;
}

/*@media (min-width: 1000px) {
   body {
      background-color: #00F;
   }

   h1 {
      font-size: 70px;
   }
}

@media (min-width: 700px) and (max-width: 999px) {
   body {
      background-color: purple;
   }

   h1 {
      font-size: 50px;
   }
}

@media (min-width: 300px) and (max-width: 700px) {
   body {
      background-color: royalblue;
   }

   h1 {
      font-size: 30px;
   }
}

@media (max-width: 300px) {
   h1 {
      font-size: 14px;
   }
} */

h1 {
   font-size: 40px;
   font-weight: bold;
}

@media only print { /* Apenas para impressão */
   /*h1{
      font-size: 20px;
      font-weight: normal;
   }

   table, td {
      border: 0;
   }*/

   h1 {
      /* display: none; */
   }
}

@media only screen  { /* Apenas para tela */
   h1 {
      display: none; 
   }
}
