body {
   margin: 0;
   padding: 0;
   background-color: #202225;
   font-family: 'Montserrat', sans-serif;
}

header {
   height: 100px;
   background-color: #000;
}

.header {
   max-width: 1140px;
   height: 100px;
   background-color: red;
   margin: auto
}