body{
   margin: 0;
}

/*.exemplo{
   width: 150px;
   height: 150px;
   background-color: green;
   margin: auto;
   margin-top: 100px;*/
   /* box-shadow: 5px 5px 5px #888;  */
   /*box-shadow: 0px 0px 30px #888; Pega dos 4 lados */
      /* (Dist. Horizontal, Dist. Vertical, Blur, Cor) */
   /* border-radius: 75px; 
}*/

.exemplo{
   width: 150px;
   height: 150px;
   color: green;
   margin: auto;
   margin-top: 100px;
   text-shadow: 5px 5px 5px #888;
}