body { 
   background-color: #202225;
   /* margin: 0; */
}
.balao {
   background-color: #00F;
   display: inline-block;
   color: #FFF;
   padding: 20px;
   border-radius: 20px;
}

/*.balao::after {
   content: '';
   display: block;
   position: absolute;
   margin-top: 20px;

   border: 20px solid;
   border-color: #00F #F00 #0F0 #F0F0F0; // Verificar as bordar

   border-color: #00F transparent transparent transparent;

}*/

.balao::after {
   content: '';
   display: inline-block;
   position: absolute;
   margin-left: 20px;
   top: 25px;
   border: 20px solid;
   border-color: transparent transparent transparent #00F; 
}