body { 
   background-color: #202225;
   /* margin: 0; */
   box-sizing: border-box;
}

div {
   width: 200px;
   height: 200px;
   background-color: #F00;
   border: 10px solid #0F0;
   padding: 10px;
}

